.cabecalhoPrincipal-pesquisa {
    border-radius: 5px;
    border: 2px solid white;
    width: 600px;
    height: 32px;
}


.logo {
    width: 250px;
    aspect-ratio: auto 180 / 85;
    height: 83px;
    
}

.login {
font-size: 16px;
line-height: 16px;
margin-left: 8px;
font-weight: 500;
cursor: pointer;
color: black;
}

.melhores_camisas {
    text-transform: uppercase;
    white-space: nowrap;
    color: black;
    text-decoration: none;
    margin-left: 10%;
}

.atendimento {
    width: 2em;
    height: 1em;
    display: flex;
    font-size: 36px;
    user-select: none;
    flex-shrink: 0;
}

#login {
    font-size: 37px;
}

#favoritos {
    font-size: 37px;
}

#carrinho {
    font-size: 37px;
}


